bin
AppleCommander.preferences
*.dsk
*.po
*.hdv
*.do
*.2mg
*.2img
.uml
TODO.local
*.jpage
work
TestImage.*
**/Thumbs.db
build/ACBuild.properties
build/AppleCommander.preferences
*.o
*.lst
.classpath
.project
.settings
.gradle
/build/
