# Gradle work directories and settings
bin
.gradle
build/

# IDE's
.vscode
.idea

# In case we run it locally, AppleCommander files we don't want to commit
AppleCommander.preferences
*.bas

# Ignoring all disk images at root of project
/*.dsk
/*.DSK
/*.po
/*.hdv
/*.do
/*.2mg
/*.2img
/*.nib

# Eclipse
.classpath
.project
.settings
*.jpage

# ca65 output we don't need to commit
*.o
*.lst

# Mac OS X
.DS_Store

# Windows
**/Thumbs.db
