bin
AppleCommander.preferences
*.dsk
*.po
*.hdv
*.do
*.2mg
*.2img
.uml
TODO.local
*.jpage
work
TestImage.*
**/Thumbs.db
.settings/org.eclipse.jdt.ui.prefs
.settings/org.eclipse.jdt.core.prefs
build/ACBuild.properties
build/AppleCommander.preferences
*.o
*.lst
